.container{
    width: 100%;
    max-width: 600px;
}
.suggestionsContainer{
    background-color: #FFF;
    border-radius: 15px;
    margin-top: 5px;
    overflow: hidden;
}
.suggestionsList{
    list-style-type: none;
    padding-left: 0px;
}
.suggestion{
    padding: 5px 10px;
    cursor: pointer;
}