



/** page structure **/
#wrapper {
  display: block;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
}

#keywords {
  
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
}
#keywords thead tr th { 
  font-weight: 600;
  padding: 5px 10px;
}
#keywords thead tr th span{ 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}




#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}

td , th {
    border:  1px solid #000;
}