.stat-card{
    background-color: #fff;
    max-width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: felx-start;
    align-items: center;
    cursor: pointer;
    margin: 20px auto;
    box-shadow: 2px 3px 4px#ccc;
    padding:20px 10px;
}
.card-heading{
    font-size: 16px;
    color: #e46667;
    margin-bottom: 0px;
}
.stat{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}
.stat-icon-container{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    align-items: center;
    background-color:#fae5e5;
    margin-right: 20px;
}
.download{
    height: 40px;
    color: #fff;
    border: 1px solid #e46667;
    background-color: #D20003;
    padding: 0px 25px;
}
.download:hover{
    background-color: #e46667;
    border: 1px solid #D20003;
}